# Add files here to ignore them from prettier formatting
/node_modules
/dist
/coverage
/tmp
/.nx/cache
.changeset
.angular
.astro
.prettierignore

package-lock.json
pnpm-lock.yaml

/stats.html

/.nx/workspace-data