<div class="flex flex-col h-full min-h-screen">
  <header class="flex items-center h-16 px-4 bg-gray-100">
    <nav class="space-x-6 group">
      <a
        class="font-bold border-black hover:border-b-2"
        [routerLink]="['/counter']"
        routerLinkActive="border-b-2 group-hover:border-b-0"
        >Counter Examples</a
      >
      <a
        class="font-bold border-black hover:border-b-2"
        [routerLink]="['/posts']"
        routerLinkActive="border-b-2 group-hover:border-b-0"
        >Posts Example</a
      >
      <a
        class="font-bold border-black hover:border-b-2"
        [routerLink]="['/empty']"
        routerLinkActive="border-b-2 group-hover:border-b-0"
        >No Queries</a
      >
    </nav>
  </header>

  <main class="flex-grow px-4 py-4 overflow-auto">
    <router-outlet></router-outlet>
  </main>
</div>
