<div class="flex h-full min-h-screen flex-col">
  <header class="flex h-16 items-center bg-gray-100 px-4">
    <nav class="group space-x-6">
      <a class="nav-link" routerLinkActive="border-b-2 group-hover:border-b-0" [routerLink]="['/counter']">
        Counter Examples
      </a>
      <a class="nav-link" routerLinkActive="border-b-2 group-hover:border-b-0" [routerLink]="['/posts']">
        Posts Example
      </a>
      <a class="nav-link" routerLinkActive="border-b-2 group-hover:border-b-0" [routerLink]="['/pagination']">
        Pagination Example
      </a>
      <a class="nav-link" routerLinkActive="border-b-2 group-hover:border-b-0" [routerLink]="['/lazy']">
        Lazy Query Example
      </a>
      <a class="nav-link" routerLinkActive="border-b-2 group-hover:border-b-0" [routerLink]="['/empty']">No Queries</a>
    </nav>
  </header>

  <main class="flex-grow overflow-auto px-4 py-4">
    <router-outlet></router-outlet>
  </main>
</div>
