@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply bg-gray-50 antialiased;
  }
}

@layer utilities {
  .pb-safe {
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
  }

  .pt-safe {
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
  }
}

/* custom components purgable */
@layer components {
  .btn,
  %btn {
    @apply select-none px-4 py-3 text-sm font-medium transition duration-300 ease-in focus:outline-none focus:ring-2 focus:ring-opacity-75 disabled:cursor-not-allowed disabled:opacity-50;
  }

  .btn.btn-primary {
    @apply bg-black text-white hover:bg-gray-800 focus:ring-indigo-400;
  }

  .btn-outline {
    @extend %btn;
    @apply border;
  }

  .btn-outline.btn-primary {
    @apply border-black bg-transparent text-black hover:bg-gray-200;
  }
}
