# Adapted from Analog & create-t3-app.
name: CI

on:
  pull_request:
    branches: ['*']
  merge_group:

jobs:
  commitlint:
    runs-on: ubuntu-latest
    name: Commitlint
    permissions:
      actions: read
      contents: read
      pull-requests: read
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Lint commit messages
        uses: wagoid/commitlint-github-action@v5
        with:
          failOnWarnings: true
          helpURL: https://github.com/SaulMoro/ngrx-rtk-query/blob/main/.github/CONTRIBUTING.md#-commit-message-guidelines

  check-changeset:
    runs-on: ubuntu-latest
    name: Check Changeset
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: ./.github/composite-actions/install
      - name: Check and Validate Changes in /packages/ngrx-rtk-query
        run: |
          git fetch origin main:main
          changes=$(git diff --name-only main...${{ github.sha }} | grep '^packages/ngrx-rtk-query/' || true)
          if [[ -n "$changes" ]]; then
            echo "Changes detected in /packages/ngrx-rtk-query: $changes"
            pnpm changeset status --since origin/main
            exit_status=$?
            if [[ $exit_status -eq 0 ]]; then
              echo "Changeset validation succeeded."
            else
              echo "Changeset validation failed."
            fi
          else
            echo "No changes detected in /packages/ngrx-rtk-query"
          fi

  lint:
    runs-on: ubuntu-latest
    name: Lint
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: ./.github/composite-actions/install
      - name: Lint
        run: pnpm affected:lint

  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: ./.github/composite-actions/install
      - name: Validate
        run: pnpm exec nx-cloud record -- pnpm format:check

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: ./.github/composite-actions/install
      - name: Build
        run: pnpm affected:build

  test:
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: ./.github/composite-actions/install
      - name: Test
        run: pnpm affected:test

  e2e:
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.42.1-jammy
    needs:
      - build
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: ./.github/composite-actions/install
      - name: End-to-end test
        run: pnpm affected:e2e
        env:
          HOME: /root
