name: Test and build

on:
  push:
    branches-ignore:
      - master
      - next

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '18.x'

      - name: NPM Install, lint, test and build
        env:
          NODE_OPTIONS: '--max_old_space_size=4096'
        run: |
          npm ci
          npm run lint
          # npm run test:ci
          npm run build
          # npm run test:lib:ci
          npm run build:lib
